body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
}

header {
  border-bottom: 2px solid #3e2626;
  padding-bottom: 15px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

header p {
  margin: 5px 0;
}

section {
  margin: 20px 0;
}

section h2 {
  margin-bottom: 10px;
  font-size: 25px;
  border-left: 5px solid #b3b644;
  padding-left: 10px;
}

ul {
  padding-left: 20px;
}
